.yellow{
  background-color: yellow;  
  color: black;
}

.black{
    background-color: black;
    color: white;
}

.yellow,
.black{
    font-size: 28px;
    font-family: Helvetica,"Times New Roman",sans-serif;
    border: 2px solid;
}
a{
    text-decoration: none;
}